fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
python-dotenv
jinja2
alembic
aiofiles
python-multipart
httpx
pydantic-settings
email-validator
passlib[bcrypt]
itsdangerous
pytest
pytest-asyncio
anyio[trio]
