fastapi
uvicorn[standard]
slowapi
sqlalchemy[asyncio]
asyncpg
python-dotenv
jinja2
alembic
aiofiles
python-multipart
httpx
pydantic-settings
email-validator
passlib[bcrypt]
bcrypt<4.0.0
itsdangerous
Pillow
resend
pytest
pytest-asyncio
anyio[trio]
